@charset "utf-8";
body{
    text-align:center;
    font-family:'Times New Roman', Times, serif;
    margin: 0;
}
div{
    background-color: rgba(221, 250, 128, 0.671);
    width: 100%; 
    height: auto;
}
h1{
    color: rgb(0, 38, 255);
    
}
h2{
    text-align: center;
}
a:link {  
    color: rgb(23, 16, 241);
} 
a:visited {  
    color: rgb(29, 103, 19);
} 
a:hover {  
    color: rgb(41, 13, 111);
} 
ul{
    text-align: left;
}


